<div class="uk-background-primary uk-light">
	<div class="uk-container">
		<nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="/">
					<span class="uk-icon uk-margin-small-right" uk-icon="icon: icon-color-dark; ratio: 0.05">Info.Fibro</span>
				</a>

				<ul class="uk-navbar-nav">
					<li><a href="#"> Início</a></li>
					<li><a href="#">Apoie </a> </li>
					<li> <a href="#"> Informações</a></li>
					<li> <a href="#"> Relatos</a></li>

				</ul>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li>
						<a href="/login">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: user">Login/Cadastre-se</span>

						</a>
					</li>

				</ul>
			</div>
		</nav>
	</div>
</div>




