<div class="uk-background-primary uk-light">
	<div class="uk-container">
		<nav class="uk-navbar-container uk-navbar-transparent uk-margin uk-flex-between" uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo"[routerLink]="['/']">
					<span class="uk-icon uk-margin-small-right" uk-icon="icon: icon-color-dark; ratio: 0.05">Info.Fibro</span>
				</a>

				<ul class="uk-navbar-nav">
					<li><a [routerLink]="['/']" routerLinkActive="uk-text-bold"> Início</a></li>
					<li><a [routerLink]="['/apoie']" routerLinkActive="uk-text-bold">Apoie </a> </li>               
				</ul>
			</div>

            <div class="uk-flex users" style="height: 20px;" uk-grid>
                <ul class="uk-subnav uk-subnav-pill" uk-margin style="height: 20px;">
                    <li style="height: 20px;">
                        <i (click)="verificaLogin()" class="fas fa-user"></i>
                    </li>
                </ul>
            </div>
		</nav>

        
	</div>
</div>

<ngx-loading [show]="loading"></ngx-loading>



