<section class="uk-section uk-padding-remove-top">
  <div class="uk-flex-center" uk-grid>
    <div class="uk-background-image@s uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://i.ytimg.com/vi/MqZHRdYWacU/maxresdefault.jpg); height: 280px; width: 100%;">
      <p class="uk-text-center uk-margin-small-top uk-margin-small-bottom">
        <span class="uk-icon" uk-icon="icon: icon-color-dark; ratio: 0.2"><p style="font-size: 20px;">Fibromialgia </p></span>
      </p>
      <h3 class="uk-text-center uk-margin-small-top uk-margin-small-bottom">
        Informe-se, compartilhe conhecimento
      </h3>
    </div>
  </div>

</section>


<section class="uk-section uk-padding-remove-top">
  <div class="uk-container uk-padding-remove-top">
    <h3 class="sub-title"> Informações </h3>

    <div class="uk-child-width-expand@s uk-text-center uk-margin-remove-left" uk-grid>
      <div class="uk-card uk-card-default uk-card-body uk-margin-small-right uk-padding-remove-left">
        <div class="uk-card-header uk-padding-remove-horizontal">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h1 class="uk-card-title">Produção de carteirinha do portador de fibromialgia</h1>
              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>A Secretaria Municipal de Saúde estará recolhendo os documentos necessários para a confecção da carteirinha do portador de fibromialgia a partir desta quinta-feira (9), incluindo Rondonópolis na lista dos municípios brasileiros que reconhecem a necessidade de atendimento </p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text"> Leia Mais</a>
        </div>
      </div>

      <div class="uk-card uk-card-default uk-card-body uk-margin-small-right uk-padding-remove-left uk-margin-remove-top">
        <div class="uk-card-header uk-padding-remove-horizontal">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h1 class="uk-card-title">Produção de carteirinha do portador de fibromialgia</h1>
              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>A Secretaria Municipal de Saúde estará recolhendo os documentos necessários para a confecção da carteirinha do portador de fibromialgia a partir desta quinta-feira (9), incluindo Rondonópolis na lista dos municípios brasileiros que reconhecem a necessidade de atendimento </p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text"> Leia Mais</a>
        </div>
      </div>

      <div class="uk-card uk-card-default uk-card-body uk-margin-small-right uk-padding-remove-left">
        <div class="uk-card-header uk-padding-remove-horizontal">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h1 class="uk-card-title">Produção de carteirinha do portador de fibromialgia</h1>
              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>A Secretaria Municipal de Saúde estará recolhendo os documentos necessários para a confecção da carteirinha do portador de fibromialgia a partir desta quinta-feira (9), incluindo Rondonópolis na lista dos municípios brasileiros que reconhecem a necessidade de atendimento </p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text"> Leia Mais</a>
        </div>
      </div>
  </div>


  </div>

</section>
